.App {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  padding: 0px;
  
}

h1 {
  text-align: center;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin-left: 25px;
}

.service-search {
  max-width: 600px;
  margin: 0 auto;
}

input{
  width: 50%;
  align-items: left;
  padding: 10px;
  margin: 10px 0;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {  
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}


button:disabled {
  background-color: gray;
}

.error {
  color: red;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 15px;
}
