ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f2f5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #3977cb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #d6d7d9;
    border-radius: 5px;
  }